<aside class="modal-container" [attr.aria-hidden]="hideContainer" role="complementary">
  <section class="modal" role="dialog" aria-labelledby="modal-title" [attr.aria-describedBy]="modaldescription" tabindex="0" role="region">
    <button class="close-button" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
      <span class="screen-reader-text">Close this modal</span>
    </button>
    <header class="modal-header" role="banner" *ngIf="showheader">
      <h1 id="modal-title" class="modal-title">{{modaltitle}}</h1>
    </header>
    <div class="modal-content">
      <ng-content></ng-content>
    </div>
    <footer class="modal-footer" role="contentinfo" *ngIf="showfooter">
      <h3 class="modal-footer-heading">{{modalfootertitle}}</h3>
    </footer>
  </section>
</aside>
